.container1 img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.form-container{    
    background: rgb(228, 228, 228);
    position: absolute;
    padding: 15px;
    width: 450px;
    height: 31.5%;
    top:50%;
    left: 50%;           
    transform: translate(-50%,-50%);
    transition: height 0.15s ease-out;
}
.form-container.active{
    height: 80.5%;
    transition: height 0.25s ease-in;
}
.header{    
    margin-top: 25px;
}
.body{
   /*  background: violet; */
    margin-top: 25px;
    width: 80%;
    position: relative;
    left: 10%;
}
.body input{
    margin-top: 10px;
}
.body button{
    margin-top: 15px;    
    width: 100%;
}
.footer{
    margin-top: 20px;
    position: relative;    
    width: 80%;
    left: 10%;
}
.msg{
   position: absolute;
   margin-top: -70px;
   height: 55px;
   transition: opacity .6s;
}
.msg.active{
    opacity: 0;
    -webkit-transition: opacity .6s;
    transition: opacity .6s;
}